In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import mpl_toolkits
from datetime import datetime
import seaborn as sn
%matplotlib inline

In [6]:
df = pd.read_csv("clean1.csv")

In [7]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,yr_built,yr_renovated,zipcode,year,month
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,1955,0,98178,2014,10
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,1951,1,98125,2014,12
2,180000.0,2,1.00,770,10000,1.0,0,0,3,1933,0,98028,2015,2
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,1965,0,98136,2014,12
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,1987,0,98074,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,0,0,3,2009,0,98103,2014,5
21609,400000.0,4,2.50,2310,5813,2.0,0,0,3,2014,0,98146,2015,2
21610,402101.0,2,0.75,1020,1350,2.0,0,0,3,2009,0,98144,2014,6
21611,400000.0,3,2.50,1600,2388,2.0,0,0,3,2004,0,98027,2015,1
21612,325000.0,2,0.75,1020,1076,2.0,0,0,3,2008,0,98144,2014,10

In [12]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn import linear_model, datasets

y = df['price']
X = df[['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'year',
 'month'
]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
lr = linear_model.LinearRegression()
lr.fit(X, y)

LinearRegression()

In [14]:
fansac = linear_model.RANSACRegressor()
ransac.fit(X,y)
inlier_mask = ransac.inlier_mask_
outlier_mask = np.logical_not(inlier_mask)

In [15]:
# line_X = np.arange(X.min(), X.max())[:, np.newaxis]
line_y = lr.predict(line_X)
line_y_ransac = ransac.predict(line_X)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().